@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.scrolling-tab{
    width: 100vw;
}

.scroll{
    display: inline-block;
    white-space: nowrap;
}

.scroll p{
    display: inline-block;
    color: #fff;
    padding: 12px;
    margin-left: 150px;
    font-family: Poppins;
    font-size: small;
}

.navbar .logo{
    width: 100%;
    text-align: center;
}

.nav-menu{
    display: none;
}

.right-ul{
    list-style: none;
    display: flex;
    position: absolute;
    right: 0;
    top: 45px;
}

.right-ul .hidden{
    display: none;
}

.right-ul li{
    margin: 10px;
}

.navbar .openMenu{
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 1.4em;
}



